/*--------------------DECKS----------------------------*/
.multimedia {
    display: grid;
    grid-template-columns: 1fr 1fr 1 fr;
    grid-template-rows: 195px 40px 40px;
    grid-template-areas: "imagenes imagenes imagenes"
                "subtitulo subtitulo subtitulo"
                "button button button";
    height: 370px;
    width: 80%;
    margin: 2% auto 10% auto;
    justify-items: center;
    .multimedia__imagenes {
        grid-area: "imagenes";
    }
    .multimedia__subtitulos {
        grid-area: "subtitulo";
        font-size: 20px;
    }                
    .multimedia__buttons {
        grid-area: "button";
    }
}
.titulosMultimedia {
    font-size: 30px;
    width: 80%;
    margin: 5% auto 1% auto;
    color: rgb(224, 221, 221);
    font-family: 'Cinzel', serif;
}

