/*----------------------Tutorial----------------------*/
.descripcion {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin: 0 auto 0 auto;
}
.titulos {
    color: rgb(219, 146, 11);
    text-align: center;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    margin: 3% 0 3% 0;
}
.parches {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "cartas cambios"
                        "cartas cambios"
                        "cartas cambios"
                        "cartas cambios";
    height: 1500px;
    width: 1000px;
    margin: 3% auto 0 auto;
    row-gap: 3%;
    .parches__imagenes {
        grid-area: "cartas";
    }                    
    .parches__cambios {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        grid-area: "cambios";
        font-size: 20px;
        margin-bottom: 5%;
        .parches__subtitulos {
            color: rgb(219, 146, 11);
            font-family: 'Cinzel', serif;
        }
    }
}