/*----------Soporte--------------*/
.soporte {
    display: flex;
    flex-direction: row;
    margin: 100px auto 0px auto;
    justify-content: space-between;
    height: 470px;
    width: 80%;
    }
    .soporte__formulario{
        height: 400px;
        width: 50%;
        color: rgb(240, 239, 239);
    }
    .soporte__descripcion {
        text-align: center;
        width: 500px;
        color: rgb(240, 239, 239);
        font-family: 'Nunito Sans', sans-serif; 
        .soporte__titulo {
            margin-bottom: 50px;
            color: rgb(240, 239, 239);
            font-family: 'Cinzel', serif;
    
    }  
      
}



