/*----------Contacto--------------*/
.soporte {
    display: flex;
    flex-direction: row;
    margin: 100px auto 0px auto;
    justify-content: space-between;
    height: 470px;
    width: 1300px;
    .soporte__descripcion {
        text-align: center;
        width: 500px;
        color: rgb(240, 239, 239);
        font-family: 'Cinzel', serif;;
    
    }    
}

#formPadre{
    height: 400px;
    width: 700px;
    color: rgb(240, 239, 239);
}
#formTitle {
    margin-bottom: 50px;
    color: rgb(240, 239, 239);
}