*{  margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
body {background-color: rgb(31, 31, 65);}
@import "_Menu.scss";
@import "_Index.scss";
@import "_Footer.scss";
@import "_Descargas.scss";
@import "_Decks.scss";
@import "_Parche.scss";
@import "_Contacto.scss";