/*----------------Generales--------------------*/
$margin-center: 0 auto 0 auto;


* {
    margin: 0;
    padding: 0;
}
p {
    color: rgb(240, 239, 239);
    font-family: 'Nunito Sans', sans-serif;
}  
  body {
    background-image: url("../Imagenes/papyrus-dark.png");
    background-color: rgba(40, 15, 87, 0.863);
    background-blend-mode: screen;
 }

h3 {
    color: rgb(240, 239, 239);
    font-family: 'Nunito Sans', sans-serif;
}
img {
    max-width: 100%;
}


@import "_Menu.scss";
@import "_Index.scss";
@import "_Footer.scss";
@import "_Descargas.scss";
@import "_Multimedia.scss";
@import "_Parche.scss";
@import "_Soporte.scss";
/*@import "_mediasQuerys.scss";*/