/*----------------Generales--------------------*/
* {
  margin: 0px;
  padding: 0px; }

p {
  color: #f0efef;
  font-family: 'Nunito Sans', sans-serif; }

body {
  background-color: #1f1f41; }

h3 {
  color: #f0efef;
  font-family: 'Nunito Sans', sans-serif; }

/*-----------------Menu----------------------*/
.menu__item {
  font-size: 20px;
  font-family: 'Cinzel', serif;
  text-align: center;
  width: 20%; }

a {
  color: #d66b12;
  text-decoration: none; }

.menu__lista {
  list-style-type: none;
  color: #d66b12;
  display: flex;
  width: 60%;
  height: 80px;
  background-color: #22222c;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 0 auto;
  border-radius: 1px;
  border-style: solid;
  border-color: #090d33;
  border-top: none;
  position: sticky;
  z-index: 9999; }

.tituloInicio {
  text-align: center;
  color: white;
  line-height: 5px;
  margin-top: 25px;
  font-family: 'Cinzel', serif; }
  .tituloInicio p {
    text-align: center;
    color: orange;
    font-size: 48px;
    margin-top: 40px;
    font-family: 'Cinzel', serif; }

#descripcionJuego {
  font-size: 20px;
  text-align: center;
  margin: 75px auto 20px auto;
  height: auto;
  width: 70%; }

#carouselExampleCaptions {
  height: 563px;
  width: 1000px;
  margin: 50px auto 0 auto; }

#androidDescarga {
  height: 500px;
  width: 90%;
  background-image: url("../Estilo/androidDescarga.jpg");
  background-repeat: round;
  margin: 50px auto 50px auto; }

#androidButton {
  margin: 200px 0 0 1050px; }

.resenias {
  display: flex;
  height: 600px;
  width: 1000px;
  justify-content: space-evenly;
  margin: 50px auto 50px auto; }
  .resenias .resenias__contenedor {
    background-color: #07072e;
    border-radius: 1px;
    border-style: solid;
    border-color: orange; }
  .resenias .resenias__listas {
    background-color: #07072e;
    color: white; }

/*----------------------Footer----------------------*/
footer {
  background-image: linear-gradient(rgba(11, 5, 31, 0.568), #13133d);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  border-radius: 1px;
  border-style: solid;
  border-color: #244747; }
  footer .footer__texto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 20%;
    color: blanchedalmond;
    text-align: center; }
  footer .footer__imagenes {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    height: 44px; }

/*----------------------Descargar----------------------*/
.descarga {
  display: flex;
  height: 500px;
  width: 80%;
  margin: 100px auto 0 auto;
  justify-content: start; }
  .descarga .descarga__imagen {
    border-style: solid;
    border-radius: 1px;
    border-color: #b8b3b3;
    height: 385px; }
  .descarga .descarga__descripcion {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding-bottom: 100px;
    font-size: 25px;
    color: #f0efef; }
  .descarga .descripcion__buttom {
    height: 50px;
    width: 150px; }

.separador {
  width: 1000px;
  height: 10px;
  color: white;
  margin: 0 auto 0 auto; }

.screenshots {
  display: flex;
  height: 253px;
  width: 90%;
  justify-content: space-evenly;
  margin: 0 auto 50px auto; }
  .screenshots .screenshots__imagenes {
    border-radius: 1px;
    border-color: #c5c3c3;
    border-style: solid; }

.reseniasUsuarios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1100px;
  height: auto;
  margin: 0 auto 50px auto; }

.reseniasUsuarios__texto {
  background-color: black; }

/*--------------------DECKS----------------------------*/
.multimedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1 fr;
  grid-template-rows: 195px 40px 40px;
  grid-template-areas: "imagenes imagenes imagenes" "subtitulo subtitulo subtitulo" "button button button";
  height: 370px;
  width: 80%;
  margin: 2% auto 10% auto;
  justify-items: center; }
  .multimedia .multimedia__imagenes {
    grid-area: "imagenes"; }
  .multimedia .multimedia__subtitulos {
    grid-area: "subtitulo";
    font-size: 20px; }
  .multimedia .multimedia__buttons {
    grid-area: "button"; }

.titulosMultimedia {
  font-size: 30px;
  width: 80%;
  margin: 5% auto 1% auto;
  color: #e0dddd;
  font-family: 'Cinzel', serif; }

/*----------------------Tutorial----------------------*/
.descripcion {
  text-align: center;
  font-size: 20px;
  width: 80%;
  margin: 0 auto 0 auto; }

.titulos {
  color: #db920b;
  text-align: center;
  font-size: 30px;
  font-family: 'Cinzel', serif;
  margin: 3% 0 3% 0; }

.parches {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "cartas cambios" "cartas cambios" "cartas cambios" "cartas cambios";
  height: 1500px;
  width: 1000px;
  margin: 3% auto 0 auto;
  row-gap: 3%; }
  .parches .parches__imagenes {
    grid-area: "cartas"; }
  .parches .parches__cambios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    grid-area: "cambios";
    font-size: 20px; }
    .parches .parches__cambios .parches__subtitulos {
      color: #db920b;
      font-family: 'Cinzel', serif; }

/*----------Contacto--------------*/
.soporte {
  display: flex;
  flex-direction: row;
  margin: 100px auto 0px auto;
  justify-content: space-between;
  height: 470px;
  width: 1300px; }
  .soporte .soporte__descripcion {
    text-align: center;
    width: 500px;
    color: #f0efef;
    font-family: 'Cinzel', serif; }

#formPadre {
  height: 400px;
  width: 700px;
  color: #f0efef; }

#formTitle {
  margin-bottom: 50px;
  color: #f0efef; }
